.activate-form {
  text-align: center;
  max-width: 530px;
  margin: 0 auto;

  &__title {
    font-size: 1.75em;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__desc {
    margin-bottom: 1em;
  }

  &__support {
    a {
      color: inherit;

      &:hover {
        color: $primary;
      }
    }
  }

  .input-group {
    .form-control {
      border-right: 0;
      font-size: 1em;
      height: 44px;
      padding-left: 20px;
    }

    .input-group-text {
      background-color: $white;
      border-left: 0;
      font-size: 1em;
      padding-right: 20px;
      transition: 0.3s;
    }

    .form-control:focus ~ .input-group-append .input-group-text {
      border-color: $primary;
    }
  }

  .btn {
    color: $white;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px 20px;
  }

  @media (max-width: 1199px) {
    font-size: 14px;
  }
}

.activate-guide {
  background-color: $white;

  &__title {
    font-size: 16px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
    padding: 10px 30px;
    background-color: $secondary;
    margin-bottom: 0;
  }

  &__body {
    padding: 30px;
  }
}
